.container {
  margin: 20px auto;
  width: 1200px;
  border-radius: 5px;
  text-align: center;
  background-color: #95a5a6;
  padding: 20px;
}

.game {
  margin-top: 20px;
  clear: both;
}

.race_table td {
  background-color: white;
  font-size: 1.3em;
  height: 50px;
  width: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.race_table tr:last-child td {
  border-top: 3px dashed orange;
}

tr td:first-child {
  border-left: 1px solid black;
}

tr td:last-child {
  border-left: 5px solid black;
  border-right: 1px solid black;
  background-color: red;
}

.race_table td.active {
  background-color: black;
  background-position: center bottom;
}

.race_table td.finish {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Checkerboard_pattern.svg/220px-Checkerboard_pattern.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 60px 60px;
}

#player1_track td.active {
  background-image: url('http://images.wikia.com/mariokart/images/f/f1/Yoshi_(Mario_Kart_Wii).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 30px 30px;
}


#player2_track td.active {
  background-image: url('http://3.bp.blogspot.com/_bVpyfkVa-OU/THbNJ52H8ZI/AAAAAAAAAD0/GyYUE8nk8oE/s400/luigi+on+dirt+bike.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 40px 50px;
}

#player3_track td.active {
  background-image: url('http://dsmedia.ign.com/ds/image/article/614/614266/mario-kart-ds-20050515002507767.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 40px 50px;
}

#player-setup {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #16a085;
  box-shadow: 2px 2px 5px 2px;
}

#player-setup input {
  display: block;
  margin: 20px auto;
  margin-bottom: 20px;
  width: 400px;
  padding: 5px;
}

.all-time {
  float: right;
  padding: 10px;
  background-color: #e67e22;
  box-shadow: 2px 2px 5px 2px;
  border-radius: 5px;
  text-align: left;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.all-time h3 {
  margin-top: 5px;
}

.all-time ol {
  text-align: left;
}

.ready {
  margin: 10px auto;
  background-color: #2ecc71;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}

#winner {
  margin: 10px auto;
  width: 300px;
  text-align: center;
}

#winner ol {
  text-align: left;
}


#light {
  background-color: #34495e;
  margin: 0 auto;
  padding: 3px;
  height: 160px;
  width: 50px;
  border-radius: 5px;
}

#light div {
  -webkit-transition: background-image 0.5s ease-in-out;
  -moz-transition: background-image 0.5s ease-in-out;
  -ms-transition: background-image 0.5s ease-in-out;
  -o-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  opacity: 0.3;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

#light #red {
  background-color: red;
  opacity: 1;
}

#light #yellow {
  background-color: yellow;
}

#light #green {
  background-color: #00FF00;
}

.start-btn {
  background-image: url('http://harendersingh9.files.wordpress.com/2013/04/arcade-button.jpg');
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 210%;
  cursor: pointer;
}

.start-btn:active {
  position: relative;
  top: 2px;
}

.start-btn input {
  display: none;
}
