<form class='new-player' action="/new_player" method="post">
  <input type='text' name='player' placeholder='Player 1, Enter Your Name'>
  <input class='btn' type='submit' value='Ready'>
</form>
<form class='new-player' action="/new_player" method="post">
  <input type='text' name='player' placeholder='Player 2, Enter Your Name'>
  <input class='btn' type='submit' value='Ready'>
</form>
<form id='start' action='/new_game' method='post'>
  <input class='btn' type='submit' value='Start!'>
</form>


