<% if @errors1 %>
  <% @errors1.each do |error| %>
    <p>Player 1: <%=error%></p>
  <% end %>
<% end %>
<% if @errors2 %>
  <% @errors2.each do |error| %>
    <p>Player 2: <%=error%></p>
  <% end %>
<% end %>
<form action="/new_game" method="post">
  <input type="text" name="player1[name]" placeholder="Player 1 Name">
  <input type="text" name="player2[name]" placeholder="Player 2 Name">
  <input type="submit" value="Start game!">
</form>
<div class='game'>
  <h1>Kevin and Rachel's Ruby-JavaScript Hybrid Racer</h1>
  <table class="race_table">
    <tr id="player1_track" data-name="Player 1">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <tr id="player2_track" data-name="Player 2">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
